<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div class="content-row-container full-width" fxLayout="column">Lesson s02e01</div>
        </div>
        <div class="content-container">
            <div class="title">Process Status:</div>
            <div>{{ processStatus }}</div>
        </div>

        <div class="content-container limited">
            <div class="title">Downloaded File Content:</div>
            <pre>{{ downloadedFileContent }}</pre>
        </div>
    </div>

    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container limited" fxLayout="column" fxLayoutAlign="start start">
            <div class="title">OpenAI Prompt:</div>
            <div>{{ openAiPrompt }}</div>
        </div>
        <div class="content-container limited">
            <div class="title">Processed File Content:</div>
            <pre>{{ processedFileContent }}</pre>
        </div>
        <div class="content-container limited">
            <div class="title">Report Response:</div>
            <pre>{{ reportResponse | json }}</pre>
        </div>
    </div>
</div>

<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex>
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div (click)="processLesson()" class="full-width" fxLayout="row" fxLayoutAlign="center">
                <div class="btn">Run Lesson s02e01</div>
            </div>
        </div>
    </div>
</div>
