<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex>
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div class="content-row-container full-width" fxLayout="column">Lesson s04e02</div>
        </div>
    </div>
</div>

<!-- Display file contents -->
<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container">
            <div class="title">Process Logs:</div>
            <div>
                <ul>
                    <li *ngFor="let log of processLogs">{{ log }}</li>
                </ul>
            </div>
        </div>
        <div class="content-container limited-short">
            <div class="title">Correct Data:</div>
            <pre>{{ correct }}</pre>
        </div>
        <div class="content-container limited-short">
            <div class="title">Incorrect Data:</div>
            <pre>{{ incorrect }}</pre>
        </div>
        <div class="content-container limited-short">
            <div class="title">Verify Data:</div>
            <pre>{{ verify }}</pre>
        </div>
    </div>

    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container limited">
            <div class="title">AI Prompt:</div>
            <pre>{{ aiPrompt }}</pre>
        </div>
        <div class="content-container">
            <div class="title">Main Answer:</div>
            <pre>{{ mainAnswer | json }}</pre>
        </div>
        <div class="content-container">
            <div class="title">Response from Headquarters:</div>
            <div class="wrapped-text">{{ reportResponse | json }}</div>
        </div>
    </div>
</div>

<!-- Run Lesson Button -->
<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex>
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div (click)="processLesson()" class="full-width" fxLayout="row" fxLayoutAlign="center">
                <div class="btn">Run Lesson s04e02</div>
            </div>
        </div>
    </div>
</div>
