<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div class="content-row-container full-width" fxLayout="column">Lesson s01e04</div>
        </div>
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div class="image-container" fxLayout="row" fxLayoutAlign="center">
                <img class="responsive-img" src="/assets/images/s01e04.png" alt="AI_Devs 3 - s01e04" />
            </div>
        </div>
    </div>

    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container limited" fxLayout="column" fxLayoutAlign="start start">
            <div class="title">Prompt dla Chat GPT4o-mini:</div>
            <div [innerHTML]="openAiPrompt"></div>
        </div>
    </div>
