<div class="content-container" fxLayout="column" fxLayoutAlign="start">
    <div class="image-container full-width" fxLayout="row" fxLayoutAlign="center">
        <a href="https://www.aidevs.pl" target="_blank">
            <img class="responsive-img" src="/assets/images/ai-devs-3.jpg" alt="AI_Devs 3" />
        </a>
    </div>
    <hr />
    <div class="full-width">
        <div class="title">2024.07.25</div>
        <div>
            <p>
                OpenAI oferuje dziś najlepsze LLM w swojej kategorii. Dostępne są jednak bardzo porównywalne alternatywy
                (np. Claude 3.5 Sonnet) czy znacznie mniejsze modele (np. Qwen 2) sprawdzające się w wybranych
                sytuacjach ale oferując przy tym większą szybkość czy niższe koszty.
            </p>
            <p>
                Przykładowo, samo rozumowanie agenta AI powinno być przeprowadzone przez model klasy GPT-4o, ale już
                wstępne klasyfikacje z powodzeniem może wykonać Llama czy niezwykle tani i szybki Claude 3 Haiku.
            </p>
            <p>
                Do gry wchodzi także zastosowanie platform takich jak Groq, jednak w chwili pisania tych słów (czerwiec
                2024) API Groq posiada bardzo duże ograniczenia.
            </p>
            <p>
                Ostatecznie, AI_devs 3 to praca z modelami OpenAI, Anthropic i platformą Groq z dodatkiem otwartych
                modeli obsługiwanych przez Ollama.
            </p>
        </div>
    </div>
</div>
