<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div class="content-row-container full-width" fxLayout="column">Lesson s03e01</div>
        </div>

        <div class="content-container">
            <div class="title">Process Status:</div>
            <div>{{ processStatus }}</div>
        </div>

        <div class="content-container">
            <div class="title">AI Prompt:</div>
            <div>{{ aiPrompt }}</div>
        </div>

        <div class="content-container">
            <div class="title">Facts Files Names:</div>
            <ul>
                <li *ngFor="let file of factsFilesNames">{{ file }}</li>
            </ul>
        </div>

        <div class="content-container">
            <div class="title">Reports Files Names:</div>
            <ul>
                <li *ngFor="let file of reportsFilesNames">{{ file }}</li>
            </ul>
        </div>
    </div>

    <div class="section-container" fxLayout="column" fxFlex="50">
        <div class="content-container" *ngIf="responseJson">
            <div class="title">Response JSON:</div>
            <pre class="wrapped-json">{{ responseJson | json }}</pre>
        </div>

        <div class="content-container">
            <div class="title">Response from Headquarters:</div>
            <div class="wrapped-json">{{ reportResponse | json }}</div>
        </div>
    </div>
</div>

<div class="content-container gray" fxLayout="row full-width" fxLayoutAlign="start">
    <div class="section-container" fxLayout="column" fxFlex>
        <div class="content-container" fxLayout="column" fxLayoutAlign="start start">
            <div (click)="processLesson()" class="full-width" fxLayout="row" fxLayoutAlign="center">
                <div class="btn">Run Lesson s03e01</div>
            </div>
        </div>
    </div>
</div>
